:root {
  --blue-color: #2196f3;
  --first-title-color: #ffffff;
  --second-titele-color: #212121;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* -----header---- */

.header {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-logo-web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}

.header-logo-studio {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #000000;
}

.header-list {
  display: flex;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;

  color: #212121;
}

.header-link:hover {
  color: var(--blue-color);
}
.header-list-contact {
  margin-left: auto;
  display: flex;
}
.header-mail,
.contact-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  margin-right: 50px;

  color: #757575;
}
.header-mail:hover {
  color: var(--blue-color);
}
.contact-tel:hover {
  color: var(--blue-color);
}

/*----hero----*/

.hero-order {
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg.jpg);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  max-height: 120px;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;
}

.hero-order-btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: transparent;
  font-size: 16px;
  line-height: 1.87;
  min-width: 200px;
  min-height: 50px;
  margin-left: auto;
  margin-right: auto;

  /* identical to box height, or 187% */

  letter-spacing: 0.06em;

  color: #ffffff;
}

.info-list {
  display: flex;
}

.info-item-icon {
  display: flex;
  justify-content: center;
  border-radius: 4px;
}

.info-titele {
  display: none;
}
.info-list-titele {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 94px;
  margin-right: 30px;
  margin-bottom: 10px;
  color: #212121;
}

.info-list-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 10px;
  margin-right: 30px;
  /* or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.work-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}

.work-titele {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 94px;

  color: #212121;
}
/*-----team-----*/

.our-team {
  background: #f5f4fa;
}

.team-titele {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;

  color: #212121;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-item {
  width: calc(100% / 4 - 30px);
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 94px;

  background-color: #ffffff;
  border-bottom: solid 1px transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list-titele {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;

  color: #212121;
}
.team-list-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;

  color: #757575;
}

.team-social-list {
  display: flex;
  justify-content: center;
}
.team-social-item + .team-social-item {
  margin-left: 10px;
}

.team-social-link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.team-social-icon {
  fill: #afb1b8;
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #2196f3;
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
  fill: #ffffff;
}

/*----footer----*/

.footer {
  background-color: #2f303a;
  padding-top: 60px;
}

.footer-logo-web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
}
.footer-logo-studio {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #ffffff;
}

.footer-logo {
  padding-bottom: 20px;
}

.footer-list {
  margin-top: 20px;
  padding-bottom: 60px;
}

.footer-address {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 3%;
  color: ;
}

.logo-item {
  margin-bottom: 20px;
}

.address-item + .address-item {
  margin-top: 9px;
}

.address-item .street {
  color: #ffffff;
}

.footer-contacts {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 3%;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--blue-color);
}

/*----portfolio----*/

/*----portfolio-btn----*/

.hero-second {
  padding: 94px 4px;
}

.hero-projects {
  background-color: #ffffff;
}

.hero-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.hero-list-item + .hero-list-item {
  margin-left: 8px;
}

.hero-list-button {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;

  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 3%;
  background-color: #f5f4fa;
}

.hero-list-button:hover,
.hero-list-button:focus {
  color: #f5f4fa;
  background-color: #2196f3;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 9 - 270px);
  margin-bottom: -30px;
  margin-left: -30px;
}

.projects-list-item {
  margin-bottom: 30px;
  margin-left: 30px;

  text-align: left;
}

/* .project-link {
  text-align: left;
} */

.project-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 6%;
  color: #212121;
}

.project-title-disc {
  font-weight: 400;
  line-height: calc(30 / 16);
  letter-spacing: 3%;
  color: #757575;
}

.project-link:hover,
.project-link:focus {
  color: var(--hover-text-color);
  background-color: var(--hover-background-color);
}
